<div class="alert alert-danger" *ngIf="error" role="alert">
  {{error}}
</div>
<div class="alert alert-info" *ngIf="info" role="alert">
  <i class="fa fa-info"></i> Ilość zapytań: <strong>{{info.count}}</strong>, czas zapytania: <strong>{{info.time/info.count/1000
  | number: '1.3-6'}}s</strong>,
  łączny czas <strong>{{info.time/1000}}s</strong>
</div>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Id</th>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th>Adres</th>
    <th>Telefon</th>
    <th>Akcje</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.id}}{{user._id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.surname}}</td>
    <td>{{user.address}}</td>
    <td>{{user.phone}}</td>
    <td>
        <button type="button" (click)="remove(user)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
    </td>
  </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-md-6 text-left">
    <button (click)="post()" class="btn btn-secondary"><i class="fa fa-plus"></i> Dodaj losowego użytkownika</button>
  </div>
  <div class="col-md-6 text-right">
    <pager [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" pageBtnClass="btn"
           itemsPerPage="itemsPerPage"></pager>
  </div>
</div>
