<div class="col-sm-12">
  <div class="alert alert-danger" *ngIf="error" role="alert">
    {{error}}
  </div>
  <h2>Redis vs MongoDB vs MySQL - porównanie baz danych</h2>
  <hr>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-block">
        <form name="form" (ngSubmit)="f.form.valid && compare()" method="post" #f="ngForm" novalidate>
          <div class="form-group" [ngClass]="{'has-error': f.submitted && !database1.valid}">
            <label for="database1">Baza 1:</label>
            <select class="form-control" id="database1" name="database1" [(ngModel)]="model.database1"
                    #database1="ngModel">
              <option value="mongodb">MongoDB</option>
              <option value="redis">Redis</option>
              <option value="mysql">MySQL</option>
            </select>
            <div *ngIf="f.submitted && !database1.valid" class="help-block">Baza danych 1 jest wymagana</div>
          </div>
          <div class="form-group" [ngClass]="{'has-error': f.submitted && !database2.valid}">
            <label for="database2">Baza 2:</label>
            <select class="form-control" id="database2" name="database2" [(ngModel)]="model.database2"
                    #database2="ngModel">
              <option value="mongodb">MongoDB</option>
              <option value="redis">Redis</option>
              <option value="mysql">MySQL</option>
            </select>
            <div *ngIf="f.submitted && !database2.valid" class="help-block">Baza danych 2 jest wymagana</div>
          </div>
          <div class="form-group" [ngClass]="{'has-error': f.submitted && !operation.valid}">
            <label for="operation">Typ operacji:</label>
            <select class="form-control" id="operation" name="operation" [(ngModel)]="model.operation"
                    #operation="ngModel">
              <option value="create">Create</option>
              <option value="read">Read</option>
              <option value="update">Update</option>
              <option value="delete">Delete</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!f.form.valid">Porównaj</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <div *ngIf="!barChartData.length">
      <div class="alert alert-info">Wybierz bazy danych i typ operacji.</div>
    </div>
    <div style="display: block" *ngIf="barChartData.length">
      <h4>Czas operacji (w sekundach)</h4>
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
      >
      </canvas>
      <hr>
    </div>
    <div style="display: block" *ngIf="barChartDataCpu.length">
      <h4>Użycie cpu (w procentach)</h4>
      <canvas baseChart
              [datasets]="barChartDataCpu"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
      >
      </canvas>
      <hr>
    </div>
    <div style="display: block" *ngIf="barChartDataRam.length">
      <h4>Użycie pamięci (w megabajtach)</h4>
      <canvas baseChart
              [datasets]="barChartDataRam"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
      >
      </canvas>
      <hr>
    </div>
  </div>
</div>
