<nav class="navbar navbar-toggleable-md navbar-inverse bg-faded fixed-top bg-primary">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/dashboard">ZTBD 1</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/dashboard">Porównanie</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/manager">Podgląd danych</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
