<div class="alert alert-danger" *ngIf="error" role="alert">
  {{error}}
</div>
<h4>Przykładowe zapytanie o listę zamówień dla bazy {{ database }}</h4>
<h5>Zapytanie:</h5>
<pre *ngIf="database=='mysql'">
  SELECT orders.id, orders.total, CONCAT(user.name," ", user.surname) AS username,
  GROUP_CONCAT(CONCAT(product.name, "-", order_details.amount) order by product.id)
  AS products,
  orders.created_at
  FROM orders
  LEFT JOIN user ON orders.user_id = user.id
  LEFT JOIN order_details ON orders.id=order_details.order_id
  LEFT JOIN product ON order_details.product_id = product.id
  GROUP BY orders.id LIMIT 1000
</pre>
<pre *ngIf="database=='redis'">
  1. SSCAN KEYS 0 MATCH order_* COUNT 1000
  2. DLA KAŻDEGO ZNALEZIONEGO KLUCZA W PĘTLI [klucz]:
    - HGETALL klucz
</pre>
<pre *ngIf="database=='mongodb'">
  db.order.find(limit: 1000)
</pre>
<div class="btn btn-success" (click)="get()">Uruchom</div>
<hr>
<div class="alert alert-info" *ngIf="info" role="alert">
  <i class="fa fa-info"></i> Ilość zapytań: <strong>{{info.count}}</strong>, czas zapytania: <strong>{{info.time/info.count/1000
  | number: '1.3-6'}}s</strong>,
  łączny czas <strong>{{info.time/1000}}s</strong>
</div>
