<div class="col-sm-12">
  <h2>Podgląd danych</h2>
  <hr>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-block">
        <div class="form-group">
          <label for="database">Baza:</label>
          <select class="form-control" id="database" name="database" (change)="changeDatabase();"
                  [(ngModel)]="model.database"
                  #database="ngModel">
            <option value="mongodb">MongoDB</option>
            <option value="redis">Redis</option>
            <option value="mysql">MySQL</option>
          </select>
          <hr>
          <div class="list-group">
            <a class="list-group-item list-group-item-action justify-content-between" routerLink="/manager/products"
               routerLinkActive="active">Produkty
              <!--<span class="badge badge-default badge-pill">1000</span>-->
            </a>
            <a class="list-group-item list-group-item-action justify-content-between" routerLink="/manager/categories"
               routerLinkActive="active">Kategorie
              <!--<span class="badge badge-default badge-pill">5</span>-->
            </a>
            <a class="list-group-item list-group-item-action justify-content-between" routerLink="/manager/users"
               routerLinkActive="active">Użytkownicy
              <!--<span class="badge badge-default badge-pill">15</span>-->
            </a>
            <a class="list-group-item list-group-item-action justify-content-between" routerLink="/manager/orders"
               routerLinkActive="active">Zamówienia
              <!--<span class="badge badge-default badge-pill">52</span>-->
            </a>
            <a class="list-group-item list-group-item-action justify-content-between" routerLink="/manager/test"
               routerLinkActive="active">Test
              <!--<span class="badge badge-default badge-pill">52</span>-->
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <router-outlet></router-outlet>
  </div>
</div>
