<div class="alert alert-danger" *ngIf="error" role="alert">
  {{error}}
</div>
<div class="alert alert-info" *ngIf="info" role="alert">
  <i class="fa fa-info"></i> Ilość zapytań: <strong>{{info.count}}</strong>, czas zapytania: <strong>{{info.time/info.count/1000 | number: '1.3-6'}}s</strong>,
  łączny czas <strong>{{info.time/1000}}s</strong>
</div>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Id</th>
    <th>Użytkownik</th>
    <th>Sztuk</th>
    <th>Produkty</th>
    <th>Utworzony</th>
    <th>Akcje</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders">
    <td>{{order.id}}{{order._id}}</td>
    <td>{{order.username}}</td>
    <td>{{order.total}}</td>
    <td>
      <ul class="list-group">
        <li class="list-group-item justify-content-between" *ngFor="let product of order.products">{{product.name}}
          <span class="badge badge-default badge-pill">{{product.amount}}</span>
        </li>
      </ul>
    </td>
    <td>{{order.created_at | date:'dd-MM-yy HH:mm:ss'}}</td>
    <td>
      <button type="button" (click)="remove(order)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
    </td>
  </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-md-6 text-left">
    <button (click)="post()" class="btn btn-secondary"><i class="fa fa-plus"></i> Dodaj losowe zamównienie</button>
  </div>
  <div class="col-md-6 text-right">
    <pager [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" pageBtnClass="btn"
           itemsPerPage="itemsPerPage"></pager>
  </div>
</div>
